<mat-toolbar color="primary">  

  <mat-toolbar-row>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>    

    <span>Simple Club Manager</span>
  

  <!-- button color="primary" mat-button [matMenuTriggerFor]="menu">Login</button -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="/admin/login">Login</button>
    <button mat-menu-item  routerLink="/admin/loginG">Login with Google</button>
    <button mat-menu-item  routerLink="/admin/signup">Sign Up</button>
    <button mat-menu-item  routerLink="/admin/forgot-pwd">Forgot Password</button>
    <button mat-menu-item  routerLink="/admin/logout">Logout</button>
  </mat-menu>
<!--
</mat-toolbar-row>

  <mat-toolbar-row>
--> 
  <button mat-button routerLink="/clubs" disabled="true">Clubs</button>     
    <button mat-button routerLink="/members">Members</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>