<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <div class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" #userName>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" #userPassword>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="loginEmail(userName.value, userPassword.value)">Log in</button>
    </div>

    <button mat-icon-button routerLink="/admin/loginG" matTooltip="Login With Google" class="btn-block">
      <mat-icon aria-label="Example icon-button with a heart icon" svgIcon="loginG"></mat-icon>
    </button>  
  

  </mat-card>


</div>